<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.hongjian.blog.db.mapper.ContentMapper" >
  <resultMap id="BaseResultMap" type="tech.hongjian.blog.db.entity.Content" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="slug" property="slug" jdbcType="VARCHAR" />
    <result column="thumb_img" property="thumbImg" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="author_id" property="authorId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="fmt_type" property="fmtType" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="categories" property="categories" jdbcType="VARCHAR" />
    <result column="hits" property="hits" jdbcType="INTEGER" />
    <result column="comments_num" property="commentsNum" jdbcType="INTEGER" />
    <result column="allow_comment" property="allowComment" jdbcType="INTEGER" />
    <result column="allow_ping" property="allowPing" jdbcType="INTEGER" />
    <result column="allow_feed" property="allowFeed" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="allColumns">
    `id`, `title`, `slug`, `thumb_img`, `created`,
    `modified`, `author_id`, `type`, `status`, `fmt_type`,
    `tags`, `categories`, `hits`, `comments_num`, `allow_comment`,
    `allow_ping`, `allow_feed`, `content`
  </sql>

  <select id="selectByParams" resultMap="BaseResultMap">
    select
    <include refid="allColumns"/>
    from `content`
    <where>
      <if test="type != null">
        and `type` = #{type}
      </if>
      <if test="status != null">
        and `status` = #{status}
      </if>
      <if test="keyword != null">
        and `title` like CONCAT('%', #{keyword}, '%')
      </if>
      <if test="allowFeed != null">
        and `allow_feed` = #{allowFeed}
      </if>
    </where>
    order by ${prop} ${order}
  </select>

  <select id="selectRandom" resultMap="BaseResultMap" databaseId="mysql">
    select
    <include refid="allColumns"/>
    from `content`
    <where>
      <if test="type != null">
        and `type` = #{type}
      </if>
      <if test="status != null">
        and `status` = #{status}
      </if>
    </where>
    order by rand();
  </select>

  <select id="selectRandom" resultMap="BaseResultMap" databaseId="sqlite3">
    select
    <include refid="allColumns"/>
    from `content`
    <where>
      <if test="type != null">
        and `type` = #{type}
      </if>
      <if test="status != null">
        and `status` = #{status}
      </if>
    </where>
    order by random();
  </select>

  <select id="selectArticles" resultMap="BaseResultMap" >
    select
    a.*
    from `content` a left join `relationship` b on a.id = b.cid
    where b.mid = #{metaId} and a.status='publish' and a.type='post'
  </select>
</mapper>