<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.hongjian.blog.db.mapper.LogMapper" >
  <resultMap id="BaseResultMap" type="tech.hongjian.blog.db.entity.Log" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="action" property="action" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
    <result column="author_id" property="authorId" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="allColumns">
    `id`, `action`, `data`, `author_id`, `ip`, `created`
  </sql>

  <select id="selectByParams" resultMap="BaseResultMap">
    select
    <include refid="allColumns" />
    from `log`
    <where>
      <if test="action != null">
        and `action` = #{action}
      </if>
      <if test="keyword != null">
        and `data` like #{keyword}
      </if>
      <if test="author != null">
        and `author_id` = #{author}
      </if>
      <if test="from != null">
        and `created` &gt;= #{from}
      </if>
      <if test="to != null">
        and `created` &lt;= #{to}
      </if>
    </where>
    order  by `id` desc
  </select>

</mapper>